---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card/index.astro";
import IntroCard from "../components/IntroCard.astro";
import ContactsCard from "../components/ContactsCard.astro";
import TimeZone from "../components/TimeZoneCard.astro";
import AboutMe from "../components/AboutMe.astro";
import Now from "../components/Now.astro";
import Globe from "../components/Globe";
import { getCollection } from "astro:content";
import { formatDate } from "../lib/helpers";

const posts = (await getCollection("blog"))?.sort(
  (blogEntryA, blogEntryB) =>
    (blogEntryB.data.pubDate || new Date()).getTime() -
    (blogEntryA.data.pubDate || new Date()).getTime()
);
---

<script>
  import { stagger, animate, type AnimationSequence } from "motion";
  import { loaderAnimation } from "../lib/constants";
  const cards = document.querySelectorAll(".card");

  const sequence = [
    loaderAnimation,
    [
      cards,
      { y: ["40%", "0%"], opacity: [0, 1] },
      {
        type: "spring",
        at: "-0.1",
        delay: stagger(0.3),
      },
    ],
  ];

  animate(sequence as AnimationSequence);
</script>

<Layout
  description="I'm a robotics engineer with strong focus on control, safety and multi-agent systems."
  title="Noel - Research Assistant"
>
  <main class="text-white m-auto p-2 grid gap-2 max-w-6xl overflow-hidden relative w-full sm:p-4 sm:gap-2 md:grid-cols-2 md:gap-3 md:p-6 lg:h-screen lg:grid-rows-8 lg:grid-cols-4 lg:gap-4 lg:max-h-[800px]">
    
    <IntroCard class="order-1 lg:order-1"/>

    <AboutMe class="order-2 lg:order-2"/>

    <ContactsCard class="order-3 lg:order-3"/> 
    
    <TimeZone class="order-4 lg:order-4"/> 
    
    <Card
      class="order-5 lg:order-5"
      colSpan="md:col-span-1"
      rowSpan="md:row-span-1"
      title="Project"
      href="/blog"
    />

    <Card
      class="order-6 lg:order-6"
      colSpan="md:col-span-1"
      rowSpan="md:row-span-3"
      title="Blog"
      href="/blog"
    >
      <div class="flex flex-col gap-1">
        {posts?.slice(0, 3).map((post) => (
          <div class="list-none w-full text-neutral-100 hover:text-neutral-400 ease-in-out transition-colors border-b-neutral-400 border-dashed border-b-1 my-0">
            <p class="inline-block whitespace-nowrap text-xs">{post.data.title}</p>
          </div>
        ))}
      </div>
    </Card>
    
    <Card
      class="order-7 lg:order-8"
      colSpan="md:col-span-1"
      rowSpan="md:row-span-1"
      title="Countries I visited"
      href="travel"
    >
      <div class="h-full w-full absolute inset-0 -z-10">
        <Globe client:load />
      </div>
    </Card>

    <Now class="order-8 lg:order-7"/> 
    
    <Card
      class="order-9 lg:order-9" 
      colSpan="md:col-span-1" rowSpan="md:row-span-1">
      <p class="text-xs">© 2026 · Crafted with ♥️ by Me.</p>
    </Card>

  </main>
</Layout>
