---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm Noel, a researcher currently focused on robotics for multi-agent system.
        <br />
        My core development includes:
      </p>
      <ul class="list-disc list-inside">
        <li>Quadrotor</li>
        <li>Steward Platform</li>
        <li>Mobile Robot</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      I specialize in control and safety, specifically using the Control-Barrier Function. 
      When I'm not in the lab, I'm usually eating, playing drum, or exploring nature.
    </p>
    <p class="text-sm font-light">
      I believe in 2 things: Christ is king and AI will not replace human.
    </p>
  </div>
</Card>