---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-white text-xl font-bold">
        Here are some of my projects!
      </h1>
    </header>
    <div class="flex flex-col mt-4 w-fit">
      <h2 class="text-gray-500">Research</h2>
      <ul>
        <li>
          <a href={LINKS.perception_aware} target="_blank">Perception-Aware Leader Follower quadrotor</a>
        </li>
        <li>
          <a href={LINKS.steward_platform} target="_blank">Safe Steward Platform</a>
        </li>
      </ul>
    </div>
    <div class="flex flex-col mt-4 w-fit">
      <h2 class="text-gray-500">Other</h2>
      <ul>
        <li>
          <a href={LINKS.linkedin} target="_blank">Linkedin</a>
        </li>
      </ul>
    </div>
  </div>
</Card>
