---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1">
<<<<<<< HEAD
  <div class="flex flex-col justify-center h-full w-full relative">
    
    <div class="absolute top-0 right-0">
      <Pulse />
    </div>

    <div class="flex flex-col items-center text-center">
      <div class="flex items-baseline gap-2">
        <h2 class="text-xl font-bold">Now</h2>
        <a href="https://sive.rs/nowff" target="_blank" class="text-xs text-gray-500 hover:underline">
          what's that?
        </a>
      </div>
      <p class="text-xs mt-1">Currently working fulltime</p>
=======
  <div class="flex justify-between w-full items-start mb-2">
    <div class="flex flex-col">
      <h2>Now</h2>
      <a href="https://sive.rs/nowff" target="_blank">
        <span class="text-xs text-gray-500 cursor-pointer">what's that ?</span>
      </a>
>>>>>>> parent of 20ec2b1 (aawf)
    </div>

  </div>
  <p class="text-xs">Currently working fulltime</p>
</Card>
